<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <Monitoring VisibleName="Monitoring" cssClass="fa fa-chart-line fa-fw" order="80">
        <TimeInfrastructureServices VisibleName="Time Infrastructure Services" cssClass="fa fa-clock fa-fw">
            <Redis VisibleName="Redis" cssClass="fa fa-database fa-fw" svgIcon="servers" order="30" url="/ui/redis"/>
        </TimeInfrastructureServices>
    </Monitoring>
</menu>
